Package: fizsh
Version: 1.0.3-1
Architecture: all
Maintainer: Guido van Steen <vansteen@users.sourceforge.net>
Installed-Size: 149
Depends: zsh (>= 4.3.9)
Section: shells
Priority: optional
Homepage: http://sourceforge.net/projects/fizsh/
Description: Friendly Interactive ZSHell
 Fizsh is a frontend to Zsh. It provides the user with interactive syntax
 highlighting and a Matlab-like history search facility. At the same time it
 can handle Bourne syntax.
